attr==0.3.2
ConfigParser==7.2.0
cryptography==46.0.1
Cython==3.1.4
dl==0.1.0
docutils==0.18.1
docutils==0.18.1
filelock==3.19.1
Flask==3.1.2
HTMLParser==0.0.2
ipython==8.12.3
ipywidgets==7.8.1
jnius==1.1.0
keyring==24.3.1
numpy==2.3.3
ordereddict==1.1
protobuf==4.25.3
pyOpenSSL==24.2.1
pyOpenSSL==25.3.0
redis==6.4.0
Sphinx==8.2.3
thread==2.0.5
typing_extensions==4.15.0
urllib3_secure_extra==0.1.0
xmlrpclib==1.0.1
gunicorn==23.0.0